
<div class="yarn">
    <div class="page-wrapper">
        <div class="yarn-paperback"></div>
        <div class="media-wrapper">
            <div class="media type-{{page.content[0].meta.type}}">
                <div ng-include src="templateIdentifier"></div>
            </div>
        </div>
        <div class="description viewyarn">
            <div class="title commontext">{{page.meta.title}}</div>
            <!-- <div class="title_author_divider" ng-show="yarn.meta.author">by</div> -->
            <div class="author commontext">{{yarn.meta.author}}</div>
        </div>
    </div>
    <div class="sharing-wrapper">
        <div class="sharing">
            <div class="heart" ng-click="favorite()"></div>
            <div class="follow" ng-click="follow()"></div>
        </div>
    </div>
    <div class="controls">
        <div class="play"></div>
        <div class="next" ng-click="next()"></div>
        <div class="prev" ng-click="prev()"></div>
    </div>

</div>      
